
body {
     background-image:  url("https://gamebrowserapp.netlify.app/static/media/backgound-image.78a40031.jpg");
     background-repeat: no-repeat;
     z-index: 100;
    
    }

.contenedor {
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    padding-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    filter:brightness(0.8);
    
    
}



.card {
    display: inline-flex;
    background-color: #02131C;
    border-radius: 6px;
    width: 400px;
    height: 100px;
    margin-top: 10px;
    margin-left: 18px;
}

.card:hover {
    box-shadow: 0px 0px 5px 1px #4d5d64;
}

.contenedor img {
    max-width: 150px;
    max-height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    color:aliceblue;
    font-weight: 800;
    margin-top: 1px;
    margin-left: 5px;
    font-size: 18px;
}

.text span{
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
    opacity:0.8;
}

.buttonContainer {
    color: azure;
    font-size: 12px;
    height: 53rem;
    float: left;
    width: 15%;
    margin-left: 10px;
}

.buttonContainer button {
    color: azure;
    width: 4rem;
    font-weight: 500;
    font-size: 11px;
    background-color:#02131C;
    border-color: transparent;
    border-radius: 5px;
    margin-left: 3px;
}
.buttonContainer select {
    background-color:#02131C;
    padding-left: 10px;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    width: 8rem;
    height: 7rem;
    font-size: 11px;
    overflow: hidden;
    margin-left: 5px;
}

.buttonContainer button:hover, select:hover {
    box-shadow: 0px 0px 5px 1px #4d5d64;
   }
   
.pagination {
    
    position: absolute;
    background-color: #02131C;
    text-align: center;
    bottom: 53px;
    width: 100%;
}

.botonesPagi {
    border-color: transparent;
    color: white;
    background-color: #02131C;
}

.botonesPagi:hover {
 box-shadow: 0px 0px 5px 1px #4d5d64;
}

.contenedorCard {
    width: 80%;
    padding-bottom: 100px;
    
}

  