.headerSearch {
    background-color: #02131C;;
    display: flex;
}


.bar{
    outline:none;
    border-radius:9999px;
    border-color: transparent;
    background-color: white;
    height: 35px;
    width: 100vh;
    font-size: 15px;
    margin-left: 9rem;
    margin-top: 1rem;
    padding-left: 1rem;
}



.linkGames {
    margin-left: 2rem;
    font-size: 20px;
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
}


.linkAddGames {
    margin-top: 22px;
    margin-left: 6rem;
    font-size: 15px;
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
}

.linkAddGames:hover {
    background: rgba(0,0,0,0);
    color: #8a9499;
}



.bar:hover{
    background-color: rgb(24, 22, 22);
    color: white;
}
   

